<%= javascript_include_tag 'slideshow.show' %>

<div id="user_nav">  
  <% if current_user %>  
    Welcome, <%= current_user.name %>!  
    <%= link_to "Sign Out", signout_path %>  
  <% else %>  
    <h3> Sign in with </h3>
    <% ["twitter","facebook"].each do |provider| %>
      <%= link_to image_tag("auth/#{provider}_64.png"), "/auth/#{provider}" %>
    <% end %>
  <% end %>  
</div>  
<script type="text/javascript">
  var always = <%= @always.to_json.html_safe %>;
</script>

<div id="always_visible"> </div>

<% if current_user %>
  <div id="new_slideshow" style="height:auto;overflow:hidden;"></div>
  <script type="text/javascript">
    var yours = <%= @yours.to_json.html_safe %>;
    var add_new = <%= @add_new.to_json.html_safe %>;
  </script>
  <div id="user_thumbnails"> </div>
<% end %>
