<h1>New Slideshow</h1>

<%= form_for(@slideshow) do |f| %>
  <% if @slideshow.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@slideshow.errors.count, "error") %> prohibited this slideshow from being saved:</h2>
    <ul>
    <% @slideshow.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', root_url%>
