<h1> Yay for slideshows </h1>
<div id="user_nav">  
  <% if current_user %>  
    Welcome, <%= current_user.name %>!  
    <%= link_to "Sign Out", signout_path %>  
  <% else %>  
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>  
  <% end %>  
</div>  
<% if current_user %>
  <% @all.each do |s| %>
    <div> <%= link_to s.title, s%> </div>
  <% end %>
  <%= link_to 'New', new_slideshow_path %>
<% end %>
