<h1> Yay for slideshows </h1>
<div id="user_nav">  
  <% if current_user %>  
    Welcome, <%= current_user.name %>!  
    <%= link_to "Sign Out", signout_path %>  
  <% else %>  
    <h3> Sign in with </h3>
    <%= link_to image_tag("auth/google_64.png"), "/auth/open_id?openid_url=https://www.google.com/accounts/o8/id" %>
    <% ["twitter","facebook"].each do |provider| %>
      <%= link_to image_tag("auth/#{provider}_64.png"), "/auth/#{provider}" %>
    <% end %>
  <% end %>  
</div>  
<% if current_user %>
  <% @all.each do |s| %>
    <div> <%= link_to s.title, s%> </div>
  <% end %>
  <%= link_to 'New', new_slideshow_path %>
<% end %>
